[submodule "submodules/vimbed"]
	path = submodules/vimbed
	url = git@github.com:ARCADIVS/vimbed.git
[submodule "submodules/pterosaur"]
	path = submodules/pterosaur
	url = git@github.com:ARCADIVS/pterosaur.git
[submodule "submodules/oh-my-zsh"]
	path = submodules/oh-my-zsh
	url = git@github.com:ARCADIVS/oh-my-zsh.git
[submodule "submodules/pentadactyl-solarized"]
	path = submodules/pentadactyl-solarized
	url = git@github.com:ARCADIVS/pentadactyl-solarized.git
[submodule "submodules/dircolors-solarized"]
	path = submodules/dircolors-solarized
	url = git@github.com:ARCADIVS/dircolors-solarized.git
[submodule "submodules/solarized"]
	path = submodules/solarized
	url = git@github.com:ARCADIVS/solarized.git
[submodule "submodules/xresources"]
	path = submodules/xresources
	url = git@github.com:ARCADIVS/xresources.git
[submodule "submodules/VimOrganizer"]
	path = submodules/VimOrganizer
	url = git@github.com:ARCADIVS/VimOrganizer.git
