[submodule "submodules/vimbed"]
	path = submodules/vimbed
	url = git@github.com:ARCADIVS/vimbed.git
[submodule "submodules/pterosaur"]
	path = submodules/pterosaur
	url = git@github.com:ARCADIVS/pterosaur.git
[submodule "submodules/oh-my-zsh"]
	path = submodules/oh-my-zsh
	url = git@github.com:ARCADIVS/oh-my-zsh.git
