# Be 8 bit clean.
set meta-flag on
set input-meta on
set output-meta on
set convert-meta off
  
  # mode in everything that uses readline
set editing-mode vi
set keymap vi-command
$if mode=vi
    set keymap vi-command
    "gg": beginning-of-history
    "G": end-of-history
    "H": beginning-of-line
    "L": end-of-line
$endif
