# Be 8 bit clean.
set input-meta on
set output-meta on
set convert-meta off
  
# S-expressions are cool.
set blink-matching-paren on

# vi-style key bindings
set editing-mode vi
set keymap vi-command
$if mode=vi
    "gg": beginning-of-history
    "G": end-of-history
    "H": vi-first-print
    "L": end-of-line
$endif
