!!{{{	Input Settings and Key Bindings
	URxvt*iso14755: false
	URxvt*iso14755_52: false
	URxvt*secondaryScroll: true # Enable Shift-PageUp/Down in screen
	URxvt*keysym.M-u:      perl:url-select:select_next
	URxvt*kuake.key: Alt+Return
	URxvt*keysym.Control-Shift-Escape:      perl:urxvi
	URxvt*keysym.Shift-Escape: \033[25$
	URxvt*keysym.Shift-Return: \033[26$
	URxvt*keysym.Control-Return: \033[26^
	URxvt*keysym.Control-Shift-Return: \033[26@
!!	{{{	Key Bindings for Testing Purposes
!!		URxvt*keysym.F1: \033[25~
!!		URxvt*keysym.Shift-F1: \033[25$
!!		URxvt*keysym.Control-F1: \033[25^
!!		URxvt*keysym.Control-Shift-F1: \033[25@
!!		URxvt*keysym.F2: \033[26~
!!		URxvt*keysym.Shift-F2: \033[26$
!!		URxvt*keysym.Control-F2: \033[26^
!!		URxvt*keysym.Control-Shift-F2: \033[26@
!!		URxvt*keysym.F3: \033[28~
!!		URxvt*keysym.Shift-F3: \033[28$
!!		URxvt*keysym.Control-F3: \033[28^
!!		URxvt*keysym.Control-Shift-F3: \033[28@
!!		URxvt*keysym.F4: \033[29~
!!		URxvt*keysym.Shift-F4: \033[29$
!!		URxvt*keysym.Control-F4: \033[29^
!!		URxvt*keysym.Control-Shift-F4: \033[29@
!!		URxvt*keysym.F5: \033[31~
!!		URxvt*keysym.Shift-F5: \033[31$
!!		URxvt*keysym.Control-F5: \033[31^
!!		URxvt*keysym.Control-Shift-F5: \033[31@
!!		URxvt*keysym.F6: \033[32~
!!		URxvt*keysym.Shift-F6: \033[32$
!!		URxvt*keysym.Control-F6: \033[32^
!!		URxvt*keysym.Control-Shift-F6: \033[32@
!!		URxvt*keysym.F7: \033[33~
!!		URxvt*keysym.Shift-F7: \033[33$
!!		URxvt*keysym.Control-F7: \033[33^
!!		URxvt*keysym.Control-Shift-F7: \033[33@
!!		URxvt*keysym.F8: \033[34~
!!		URxvt*keysym.Shift-F8: \033[34$
!!		URxvt*keysym.Control-F8: \033[34^
!!		URxvt*keysym.Control-Shift-F8: \033[34@
!!	}}}
!!}}}

URxvt*loginShell: false
URxvt*perl-ext-common: url-select,urxvi
URxvt*urlLauncher:     xdg-open
URxvt*buffered: true
URxvt*saveLines: 4096
URxvt*underlineURLs:   true
URxvt*cursorBlink: false
URxvt*underlineColor: yellow
URxvt*font:		xft:AnonymousPro for Powerline:regular:size=11:antialias=true
URxvt*boldFont:		xft:AnonymousPro for Powerline:BoldForPowerline:size=11:antialias=true
URxvt*italicFont:	xft:AnonymousPro for Powerline:ItalicForPowerline:size=11:antialias=true
URxvt*boldItalicFont:	xft:AnonymousPro for Powerline:Bold Italic:size=11:antialias=true

URxvt*depth: 32
URxvt*borderless: true
URxvt*scrollBar: false
URxvt*matcher.button: 1


xterm*font:		xft:inconsolata:size=10:antialias=true


yeahconsole.term: urxvtc
yeahconsole.toggleKey: Alt+Return
yeahconsole.keyBigger: Alt+j
yeahconsole.keySmaller: Alt+k
yeahconsole.keyFull: Alt+m

yeahconsole.inheritPixmap: true
yeahconsole.shading:30
yeahconsole.consoleHeight: 67


TransparentURxvt.depth: 32
TransparentURxvt.background: rgba:1111/1111/1111/dddd


KuakeURxvt.perl-ext-common: default,matcher,kuake<F12>
KuakeURxvt.geometry: 212x60+0+0
KuakeURxvt.borderLess: true
KuakeURxvt.internalBorder: 0
KuakeURxvt.externalBorder: 0
KuakeURxvt.toggleFocusesIfVisible: true

KuakeURxvt.depth: 32
KuakeURxvt.background: rgba:1111/1111/1111/dddd

!! colorscheme
#include ".config/Xresources/colorschemes/default"
